<footer class="bg-blue-950 justify-end">
    <div class="container m-auto">
        <div class="footerWrapper">
            <h1>Copy right by &copy MrTechnology</h1>
            <h1>Designed by Billal Hossain</h1>
        </div>
    </div>
</footer>